.sport__benefit-eq {
    align-self: end;
    z-index: 3;
    grid-column: 1/1;
    grid-row: 1/1;
    max-width: 120px;
    margin: 0px -50px 0px auto;
}

.sport__benefit-eq:nth-last-child(2) {
    margin-right: 100px;
}

@media screen and (max-width: 1200px) {
    .sport__benefit-eq  {
        margin: 0px 0px 0px auto;
    }
    .sport__benefit-eq:nth-last-child(2) {
        margin-right: 150px;
    }
}