.norris__quote {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #14C5C4;
    max-width: 423px;
    padding-top: 412px;
    margin: 0px 0px 8px 58.3%;
}

@media screen and (max-width: 950px) {
    .norris__quote {
        font-size: 3.3vw;
        line-height: 4vw;
    }
}

@media screen and (max-width: 680px) {
    .norris__quote {
        font-size: 20px;
        line-height: 25px;
    }
}