.filling__text {
    background-image: url(../../../images/adapt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 63vw;
    height: 11.9vw;
    grid-row: 1;
    grid-column: 1/3;
}

@media screen and (max-width: 1032px) {
    .filling__text {
        grid-row: 1;
        grid-column: 1/3;
    }
}