.product__com {
    max-width: 247px;
    margin: 238px 87px 0px 0px;
}

@media screen and (max-width: 1160px) {
    .product__com {
        margin: 238px auto 0px auto;
    }
    
}

@media screen and (max-width: 950px) {
    .product__com {
        margin: 238px auto 0px auto;
    }
    
}

@media screen and (max-width: 898px) {
    .product__com {
        margin: 50px auto 0px auto;
    }
    
}

@media screen and (max-width: 780px) {
    .product__com {
        margin: 50px auto 0px 20px;
    }
    
}

@media screen and (max-width: 697px) {
    .product__com {
        margin: 50px auto 0px auto;
    }
    
}