.filling__subtitle_bold {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    grid-column: 1;
    grid-row: 5;
    justify-content: center;
    width: 316px;
    margin-bottom: 10px;
    cursor: pointer;
    color:black;
    text-decoration: none;
}

@media screen and (max-width: 1032px) {
    .filling__subtitle_bold {
        grid-row: 5;
        grid-column: 1/4;
        max-width: 280px;
        margin: 10px 10px 0px 10px;
    }
}