.cover__text {
    font-size: 40px;
    font-weight: 700px;
    margin: 39px auto 38px auto;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 530px) {
    .cover__text {
        font-size: 7.5vw;
    }
}