.cover {
    max-width: 1440px;
    max-height: 840px;
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    display: grid;
    flex-wrap: wrap;
}