.review__cite-logo {
    max-width: 130px;
    max-height: 40px;
    align-self: center;
    cursor: pointer;
    transition: opacity .5s ease;
    transition: transform .5s ease;
}

.review__cite-logo:hover {
    opacity: 0.5;
    transform: scale(1.1);
    transition: transform .5s ease;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}