@import url(../vendor/normalize.css);

@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-button/header__menu-button.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__basket/header__basket.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__image/cover__image.css);
@import url(../blocks/cover/__text/cover__text.css);
@import url(../blocks/cover/__button/cover__button.css);
@import url(../blocks/cover/__line/cover__line.css);

@import url(../blocks/product/product.css);
@import url(../blocks/product/__com-subtitle/product__com-subtitle.css);
@import url(../blocks/product/__com-subtitle/_bold/product__com-subtitle_bold.css);
@import url(../blocks/product/__com-title/product__com-title.css);
@import url(../blocks/product/__com/product__com.css);
@import url(../blocks/product/__compaund-subtitle/product__compaund-subtitle.css);
@import url(../blocks/product/__compaund-title/product__compaund-title.css);
@import url(../blocks/product/__compaund/product__compaund.css);
@import url(../blocks/product/__image-jar/product__image-jar.css);
@import url(../blocks/product/__image/product__image.css);

@import url(../blocks/review/review.css);
@import url(../blocks/review/__cite/review__cite.css);
@import url(../blocks/review/__cite-logo/review__cite-logo.css);
@import url(../blocks/review/__cite-logo/_active/review__cite-logo_active.css);
@import url(../blocks/review/__quote/review__quote.css);
@import url(../blocks/review/__quote/_active/review__quote_active.css);

@import url(../blocks/sport/sport.css);
@import url(../blocks/sport/__benefit-eq-line/sport__benefit-eq-line.css);
@import url(../blocks/sport/__benefit-eq-line/_color/sport__benefit-eq-line_color.css);
@import url(../blocks/sport/__benefit-eq/sport__benefit-eq.css);
@import url(../blocks/sport/__benefit-eq-text/sport__benefit-eq-text.css);
@import url(../blocks/sport/__benefit-image/sport__benefit-image.css);
@import url(../blocks/sport/__benefit/sport__benefit.css);
@import url(../blocks/sport/__com-subtitle/sport__com-subtitle.css);
@import url(../blocks/sport/__com-subtitle/_bold/sport__com-subtitle_bold.css);
@import url(../blocks/sport/__com-title/sport__com-title.css);
@import url(../blocks/sport/__com/sport__com.css);
@import url(../blocks/sport/__used-image/sport__used-image.css);
@import url(../blocks/sport/__used-text/sport__used-text.css);
@import url(../blocks/sport/__used/sport__used.css);

@import url(../blocks/filling/filling.css);
@import url(../blocks/filling/__text-right/filling__text-right.css);
@import url(../blocks/filling/__herb-image/filling__herb-image.css);
@import url(../blocks/filling/__herb-text/filling__herb-text.css);
@import url(../blocks/filling/__herb/filling__herb.css);
@import url(../blocks/filling/__info-title/filling__info-title.css);
@import url(../blocks/filling/__subtitle/filling__subtitle.css);
@import url(../blocks/filling/__subtitle/_bold/filling__subtitle_bold.css);
@import url(../blocks/filling/__text/filling__text.css);

@import url(../blocks/norris/norris.css);
@import url(../blocks/norris/__cite/norris__cite.css);
@import url(../blocks/norris/__quote/norris__quote.css);

@import url(../blocks/article/article.css);
@import url(../blocks/article/__box/article__box.css);
@import url(../blocks/article/__image/article__image.css);
@import url(../blocks/article/__link/article__link.css);
@import url(../blocks/article/__subbox/article__subbox.css);
@import url(../blocks/article/__subtitle/article__subtitle.css);
@import url(../blocks/article/__title/article__title.css);


@import url(../blocks/commercial/commercial.css);
@import url(../blocks/commercial/__title/commercial__title.css);
@import url(../blocks/commercial/__subtitle/commercial__subtitle.css);

@import url(../blocks/social/social.css);
@import url(../blocks/social/__box/social__box.css);
@import url(../blocks/social/__hashtag/social__hashtag.css);
@import url(../blocks/social/__post/social__post.css);
@import url(../blocks/social/__image/social__image.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__image/footer__image.css);
@import url(../blocks/footer/__text/footer__text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__background/popup__background.css);
@import url(../blocks/popup/__link/popup__link.css);
@import url(../blocks/popup/__table/popup__table.css);
@import url(../blocks/popup/__nav/popup__nav.css);
@import url(../blocks/popup/_active/popup_active.css);